.navbar-toggler {
  border: none;
  position: relative;
  z-index: 9999;
  &:focus,
  &:active {
    outline: 0;
  }

  .icon-bar {
    display: block;
    border-radius: 5px;
    background-color: $light;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
  }

  .icon-bar:nth-child(2) {
    width: 20px;
  }

  .icon-bar:nth-child(1),
  .icon-bar:nth-child(3) {
    -webkit-transition: transform 0.35s ease-in-out;
    -moz-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
  }

  &[aria-expanded="true"] {
    .icon-bar:nth-child(1) {
      position: absolute;
      left: 7px;
      top: 7px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      opacity: 0.9;
    }

    .icon-bar:nth-child(2) {
      height: 12px;
      visibility: hidden;
      background-color: transparent;
    }

    .icon-bar:nth-child(3) {
      position: absolute;
      left: 7px;
      top: 7px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      opacity: 0.9;
    }
  }
}
