$dark: #000;
$yellow: #d0aa6b;
$primary: #2196f3;

$input-bg: $dark;
$input-color: $yellow;

$normal-margin-bottom: 22.5px;
$normal-margin-bottom-sm: 13.5px;
$normal-margin-bottom-lg: 27px;

$navbar-text-color: #c9d6e4;
$navbar-text-size: 12.6px;
$navbar-bg-color: #384779;

$navbar-profile-size: 49.5px;
$navbar-profile-border-radius: 3px;
$navbar-profile-text-color: #657a94;

$card-header-height: 58.5px;
$card-border-radius: 2px;

$user-tbl-header-text-size: 12px;
$user-tbl-header-border-color: #1565c0;
$user-tbl-profile-size: 27px;

$crash-header-item-color-0: #2cc49d;
$crash-header-item-color-1: #ff7a99;
$crash-header-bg-color: #fff;

$control-border-radius: 9px;
$control-padding-left-right: 13.5px;
$control-height: 54px;
$control-label-text-size-sm: 12.6px;
$control-label-text-size: 14.4px;
$control-label-text-size-md: 16.2px; // 18px
$control-label-text-size-lg: 21.6px; // 24px
$control-sup-text-color: #6c829d;

$round-border-radius: 25px;
$left-half-round: 0 25px 25px 0;

$crash-button-height: 42px;
$crash-button-padding-top-bottom: 4.5px; // 5px; 0.9
$crash-button-padding-left-right: 27px; // 30px; 0.9

$chat-width: 360px;
$scrollbar-width: 10px;

$main-bg-color: #1e2742;
$crash-box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

$paybtn-width: 220px; // 245px;0.9
$paybtn-height: 130px;// 145px; 0.9
$paybtn-text-wrapper-height: 38px;// 42px; 0.9
$paybtn-text-wrapper-width: 110px;// 122px; 0.9

$deposit-card-padding-left-right: 22.5px; // 25px 0.9
$deposit-bitcoin-card-padding-top-bottom: 13.5px; // 25px 0.9
$deposit-bitcoin-lbl-card-padding-top-bottom: 13.5px; // 25px 0.9
$deposit-bitcoin-tbl-card-padding-top-bottom: 31.5px; // 35px 0.9
$deposit-de-with-card-padding-top-bottom: 25.1px; // 28px 0.9

$deposit-qr-card-padding-left-right: 95px; // 28px 0.9

$deposit-highlight-color: #ffaf11;

$gutter-width : 15px;
$gutter-width-wide : 25px;

$sidebar-header-bg-color: #2f3a66;
$menu-padding-left-right: 24px;
$menu-width: 350px;
$menu-item-height: 160px;
